* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, #6242DA 0%, #4B9ED8 40%, #48C0D3 100%);
    text-align: center;
}

.imageDiv {
    display: flex;
    justify-content: center;
    align-content: center;
}

.windArrow {
    width: 35px;
    transform: rotate3d(0, 0, 1, 256deg);
}